Ekidna è in via Livorno 9, San Martino Scuole, Carpi (MO)<br><br>

COME ARRIVARE DAL CASELLO DI CARPI (A22):<br>
Al secondo semaforo voltare a sinistra, direzione Mantova.<br>
Ad ogni rotonda proseguire sempre dritto, ed anche ai semafori direzione Cavezzo-Mantova.<br>
Alla rotonda del distributore Esso girare a destra.<br>
Proseguire lungo tutto il cavalcavia.<br>
Alla seconda rotonda proseguire dritto per Cortile in via Griduzza dritto per 8 km.<br>
Dopo lo stop andare dritto.<br>
Seguire la strada che gira a sinistra.<br>
La terza strada a destra è Via Livorno.<br>
Avanti 300 mt c'è una curva ed ecco alla vostra sinistra Habitat Ekidna, adiacente alla Trattoria "Baldini".<br>
<br>
COME ARRIVARE DAL CASELLO DI MODENA (A1): <br>
Prendere la Tangenziale in direzione ReggioEmilia-Carpi-Mantova.<br>
Proseguire fino all'uscita n°10, prendere quella dopo il cavalcavia, direzione Mirandola-Verona.<br>
Ora vi trovate sulla ss Canaletto, proseguite per 20 km.<br>
Raggiungerete la località San Prospero.<br>
Appena usciti da San Prospero vedrete una casa cantoniera sulla sinistra.<br>
Voltate a sinistra subito dopo la casa cantoniera, in Via Olmo (indicazione S. Martino).<br>
Proseguite dritto al primo incrocio e continuate dritto finchè la strada non sale sull'argine del Secchia.<br>
Arrivati sull'argine voltate a sinistra, prendendo il ponte a senso unico alternato.<br>
Appena scesi dall'argine voltate a destra (non tirate dritto!).<br>
Alla vostra destra c'è la Trattoria "Baldini", dritto di fronte a voi ecco Habitat Ekidna.<br>
