via Livorno, 9, Carpi<br><br>

COME ARRIVARE DAL CASELLO DI CARPI (A22):<br>
Al secondo semaforo voltare a sinistra, direzione Mantova.<br>
Ad ogni rotonda proseguire sempre dritto, ed anche ai semafori direzione Cavezzo-Mantova.<br>
Alla rotonda del distributore Esso girare a destra.<br>
Proseguire lungo tutto il cavalcavia.<br>
Alla seconda rotonda proseguire dritto per Cortile in via Griduzza dritto per 8 km.<br>
Dopo lo stop andare dritto.<br>
Seguire la strada che gira a sinistra.<br>
La terza strada a destra è Via Livorno.<br>
Avanti 300 mt c'è una curva ed ecco alla vostra sinistra Habitat Ekidna, adiacente alla Trattoria "Baldini".<br>
<br>
COME ARRIVARE DAL CASELLO DI MODENA (A1): <br>
Prendere la Tangenziale in direzione ReggioEmilia-Carpi-Mantova.<br>
Proseguire fino all'uscita n°10, prendere quella dopo il cavalcavia, direzione Mirandola-Verona.<br>
Ora vi trovate sulla ss Canaletto, proseguite per 20 km.<br>
Raggiungerete la località San Prospero.<br>
Appena usciti da San Prospero vedrete una casa cantoniera sulla sinistra.<br>
Voltate a sinistra subito dopo la casa cantoniera, in Via Olmo (indicazione S. Martino).<br>
Proseguite dritto al primo incrocio e continuate dritto finchè la strada non sale sull'argine del Secchia.<br>
Arrivati sull'argine voltate a sinistra, prendendo il ponte a senso unico alternato.<br>
Appena scesi dall'argine voltate a destra (non tirate dritto!).<br>
Alla vostra destra c'è la Trattoria "Baldini", dritto di fronte a voi ecco Habitat Ekidna.<br>

<iframe class='cont_img' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1541.885015737635!2d10.996767652340845!3d44.79920417933137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaacf8473d4c88f30!2sAssociazione+EKIDNA!5e0!3m2!1sit!2sit!4v1482484918351" frameborder="0" style="border:0" allowfullscreen id='gmap'></iframe>